atari-py==0.2.6
attrs==19.3.0
backcall==0.1.0
bleach==3.1.4
certifi==2018.1.18
cffi==1.13.1
chardet==3.0.4
cloudpickle==1.2.2
command-not-found==0.3
cycler==0.10.0
decorator==4.4.0
defusedxml==0.6.0
distro-info===0.18ubuntu0.18.04.1
entrypoints==0.3
future==0.18.1
gym==0.17.1
h5py==2.10.0
horovod==0.18.1
httplib2==0.18.0
idna==2.6
importlib-metadata==0.23
ipykernel==5.1.3
ipython==7.8.0
ipython-genutils==0.2.0
ipywidgets==7.5.1
jedi==0.15.1
Jinja2==2.10.3
json5==0.8.5
jsonschema==3.1.1
jupyter==1.0.0
jupyter-client==5.3.4
jupyter-console==6.0.0
jupyter-core==4.6.0
jupyterlab==1.1.4
jupyterlab-server==1.0.6
kiwisolver==1.1.0
language-selector==0.1
MarkupSafe==1.1.1
matplotlib==3.1.1
mistune==0.8.4
more-itertools==7.2.0
mpi4py==3.0.2
mxboard==0.1.0
nbconvert==5.6.0
nbformat==4.4.0
netifaces==0.10.4
notebook==6.0.1
numpy==1.17.3
opencv-python==4.1.1.26
pandocfilters==1.4.2
parso==0.5.1
pexpect==4.7.0
pickleshare==0.7.5
Pillow==6.2.2
prometheus-client==0.7.1
prompt-toolkit==2.0.10
protobuf==3.10.0
psutil==5.6.6
ptyprocess==0.6.0
pycairo==1.16.2
pycparser==2.19
pyglet==1.5.0
Pygments==2.4.2
pygobject==3.26.1
pyparsing==2.4.2
pyrsistent==0.15.4
python-apt==1.6.5+ubuntu0.2
python-dateutil==2.8.0
PyYAML==5.1.2
pyzmq==18.1.0
qtconsole==4.5.5
requests==2.20.0
requests-unixsocket==0.1.5
scipy==1.3.1
Send2Trash==1.5.0
six==1.12.0
systemd-python==234
tensorboardX==1.9
terminado==0.8.2
testpath==0.4.2
torch==1.3.0
torchvision==0.4.1
tornado==6.0.3
tqdm==4.36.1
traitlets==4.3.3
typing==3.7.4.1
ufw==0.36
urllib3==1.24.2
wcwidth==0.1.7
webencodings==0.5.1
widgetsnbextension==3.5.1
zipp==0.6.0
